* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-primary: #ffffff;
  --color-primary-m-light: hsla(327, 15%, 12%, 0.55);
  --color-primary-m-dark: hsla(330, 92%, 33%, 0.85);
}
#canvas1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(#c9adad,#fffbfb7a);
}
.quote-section {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  /* background-color: blueviolet; */
  align-items: center;
}
.quote-container {
  position: absolute;
  height: 80vh;
  width: 80vw;
  display: flex;
  align-items: center;
  /* margin-top: -200px; */

}
.button-paragraph_container {
  margin-top: 60px;
}
.p-container--item {
  width: 50vw;
}
.quote-container p {
  font-size: calc(1rem + 0.5vw);
  font-family: 'Signika', sans-serif;
  letter-spacing: 2px;
  line-height: 45px;
  text-align: start;
  animation-name: animation-p-1;
  animation-duration: 5s;
  animation-fill-mode: backwards;
  /* margin-top: 160px; */
  
}
@keyframes animation-p-1 {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  50% {
    transform: translateY(20px);
    opacity: 0.7;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.quote-container p:last-of-type {
  color: var(--color-primary);
  font-size: calc(1rem + 1vw);
  padding-top: 2rem;
  /* margin-left: -calc(2rem + 20vw); */
}
.quote-container img {
  padding: 20px;
  height: 400px;
  object-fit: cover;
  width: 350px;
  animation-name: image-animation;
  animation-duration: 3s;
  animation-timing-function: ease-out;

}
@keyframes image-animation {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  animation-name: button-animation-1;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: backwards;
  margin-right: 100px;
  }
  @keyframes button-animation-1 {
    0% {
      transform: translateX(500px);
    }
    50% {
      transform: translateX(-20px);
      
    }
    75% {
      transform: translateX(20px);
    }
    100% {
      transform: translateX(0px);
    }
  }

.button-container span {
  border: 2px solid rgb(255, 0, 0);
  padding: 0.4rem;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  color: black;

}
.button-container span:hover {
  border: 2px solid rgb(0, 0, 0);
  color: rgb(255, 0, 0);
}
@media screen and (max-width: 800px) {
  .quote-section {
    position: relative;
    width: 80vw;
    height: 80vh;

  }
  .quote-container {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -3rem;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
  
  
  }
  .quote-container p {
    text-align: start;
  }


}

/* Input name styling starts from here */
.input-name {
  height: 100%;
  width: 100%;
  position: absolute;
  /* background-color: #c9adad; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-name-container {
  min-height: 40vh;
  width: 40vw;
  background-color: blueviolet;
  padding: 1rem;
  display: flex;
}
.input-name-get-input {
  height: 300px;
  width: 400px;
  padding: 2rem;
}
.input-name-get-input p {
  color: pink;
  /* background-color: yellow; */
  font-size: 1.2rem;
  letter-spacing: 1.2px;
}
.input-name img{
  margin: 1.5rem 0;
  height: 100px;
  width: 100px;
}
.inpu-nextbutton input {
  padding: 8px;
  /* width: 100px; */
  margin: 50px 10px 0 0;

}
.inpu-nextbutton span {
  padding: 5px;
  margin-left: 1rem;
  color: pink;
  position:relative;
  border: 2px solid white;
  transition-duration: 0.2s;
}
.inpu-nextbutton span:hover {
  /* background-color: transparent; */
  color:black;
  border: 2px solid pink;
}


@media screen and (max-width: 600px) {
  .quote-container {
    margin-top: 100px;
    font-size: calc(0.5rem + 1vw);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -20px;
  }
  .p-container--item {
    width: 80vw;
    padding: 10px;
    margin: 0 20px;
  }
  .quote-container p {
    margin-top: -50px;
    line-height: calc(20px+1vw);
  }
  .quote-container p:last-of-type {
    color: rgb(17, 0, 255);
    margin-left: 100px;
  }
  
}
